*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F4F1EE;
}

.banner{
    background-color: #402718;
    color: white;
    text-align: left;
    padding: 20px;
    font-size: 24px;
    font-weight: bold; 
}

.menu {
    background-color: #8C5B3F;
    padding: 10px 0;
}

.menu ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    margin: 0 15px;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

/* Empurra os itens seguintes para a direita */
.menu ul .push-right {
    margin-left: auto;
}

.conteudo{
    padding: 20px;
    text-align: center;
}

.rodape{
    background-color: #4A5A40;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}